<p class="word"><%= word %></p>
<form method="POST" action="/show" >
	<label class="title" for="letter">Make a guess:</label>
	<input class="guess" id="letter" type="text" name="letter" />
	<input type="submit" value="Submit!" />
</form>