<div>
	<h1>Welcome to Hangman!</h1>
	<p class="index">==============================================================</p>
	<p class="index">Computer will pick a random word for you and you will try to guess what it is by
		typing a letter each turn. You have 6 turns in total, that is, the number of the parts of our poor stickman. Each turn you can either pick a letter or try to guess the whole word. In order to save a your game, type "save". Let's see if you can prevent him from being hanged!</p>
	<p class="index">==============================================================</p>
</div>
<form method="POST" action="/name" >
	<input type="submit" value="START!" />
</form>