<container>
	<h1>Welcome to Hangman!</h1>
	<p>==============================================================</p>
	<p>Computer will pick a random word for you and you will try to guess what it is by
		typing a letter each turn. You have 6 turns in total, that is, the number of the parts of our poor stickman. Each turn you can either pick a letter or try to guess the whole word. Let's see if you can prevent him from being hanged!</p>
	<p>==============================================================</p>
</container>
<form method="POST" action="/name" >
	<input type="submit" value="START!" />
</form>