<p>Do you want to load a saved game or start a new game?</p>
<form method="POST" action="/load" />
	<input type="submit" value="Load a Saved Game" />
</form>
<form method="POST" action="/new" />
	<input type="submit" value="New Game" />
</form>