<p><%= notice %></p>
<p><%= word %></p>
<form method="POST" action="/show" >
	<label for="letter">Make a guess:</label>
	<input id="letter" type="text" name="letter" />
	<input type="submit" value="Submit!" />
</form>